body {
	font-family: 'Inconsolata', monospace;
}
button {
	cursor: pointer;
	outline: none;
	border-radius: 10px;
}
#players {
	text-align: center;
	margin-top: 7vh;
}
#start-button-wrp {
	text-align: center;
	padding-top: 30px;
}
.player-card {
	margin-bottom: 15px;
}
#timerBeforeStart {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	margin-top: 25px;
}
#text-to-type {
	width: 60vw;
	margin: 0 auto;
	margin-top: 15px;
	font-size: 26px;
}
#typing-area-wrp {
	margin-top: 30px;
}
#typing-area {
	font-size: 20px;
	margin: 0 auto;
}
#timer {
	position: absolute;
	right: 80px;
	bottom: 100px;
	font-size: 24px;
	font-weight: bold;
}
#results-table {
	position: absolute;
	top: 50px;
	right: 100px;
	font-size: 24px;
	font-weight: bold;
}
.hidden {
	display: none;
}
.visible {
	display: block;
}
.green {
	background-color: #98FB98;
}