body {
	font-family: 'Inconsolata', monospace;
}
fieldset {
	width: 40vw;
	position: relative;
	left: 27%;
	top: 15vh;
	border: 1px solid grey;
}
fieldset div {
	padding: 20vh 0;
	display: flex;
	flex-direction: column;
}
input, button {
	margin: 0 auto;
}
input {
	margin-bottom: 20px;
	height: 22px;
	border: 1px solid black;
}
button {
	padding: 6px 30px;
	cursor: pointer;
	border-radius: 10px;
	border: 1px solid black;
	font-weight: 700;
	outline: none;
	background-color: #DCDCDC;
}
button:hover {
	background-color: #ffffff;
}
#wrong-credentials {
	text-align: center;
	padding-top: 10px;
	color: red;
}